@use 'variables';

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: variables.$primary-dark;
  color: variables.$primary-light;

  &__text {
    margin: 1px;
    padding: 5px;
    text-align: center;
    font-family: variables.$font-primary;
    font-size: 12px;
  }

  &__link {
    color: variables.$primary-bright;
    text-decoration: none;
    font-weight: bold;
  }
}
