@use 'variables';

/*BUTTONS*/ ////////////////////////////////////////////////////////////////////////////////////////

.btn {
  font-family: variables.$font-btn;
  font-size: 14px;
  padding: 7px 16px;
  background-color: variables.$primary-light;
  border: none;
  border-radius: 2px;
  color: variables.$primary-dark;
  text-transform: uppercase;
  text-decoration: none;
  margin: 3px;
  cursor: pointer;
  transition: box-shadow 0.1s linear;

  @media only screen and (max-width: 500px) {
    font-size: 12px;
  }

  &:hover {
    box-shadow: 0px 2px 4px rgba(99, 91, 91, 0.29);
    transition: box-shadow 0.1s linear;
  }

  &--bold {
    color: variables.$primary-light;
    background-color: variables.$primary-dark;
  }

  &--accent {
    color: variables.$primary-dark;
    background-color: variables.$tertiary-bright;
  }

  &--cancel {
    &:hover {
      box-shadow: none;
    }
  }

  &--username {
    border: none;
    text-transform: none;
    padding: 7px;
    font-weight: bold;
    color: variables.$secondary-bright;
    &:hover {
      box-shadow: none;
    }
  }

  &--submit {
    font-size: 14px;
    width: 100px;
    background-color: variables.$primary-dark;
    color: variables.$primary-light;
    margin: 43px auto 20px;
    &:disabled,
    &[disabled] {
      cursor: inherit;
      color: variables.$disabled-btn-text;
      background-color: variables.$disabled-btn-bg;
    }
  }

  &--nav {
    text-transform: none;
    margin: 6px;
    background-color: transparent;
    padding: 10px;
    position: relative;
    border: none;
    border-bottom: 2px solid transparent;
    font-weight: 500;
    font-family: variables.$font-btn;
    &:hover,
    &:focus {
      outline: none;
    }
    &:hover::after {
      right: 0;
    }
    &::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: -2px;
      right: 100%;
      transition: all 500ms;
      border-bottom: 2px solid variables.$secondary-dark;
    }
    &--selected {
      color: variables.$secondary-bright;
      border-bottom: 2px solid variables.$secondary-dark;
    }
  }

  &--delete {
    display: block;
    background-color: variables.$primary-danger;
    color: variables.$primary-light;
    border: 1px solid variables.$primary-danger;
    &--poll {
      margin: 2px auto;
    }
  }

  &--vote {
    padding: 8px;
    color: variables.$primary-dark;
    border-radius: 4px;
    text-transform: none;
    margin: 0 auto;
    font-size: 16px;
    font-family: variables.$font-btn;
    width: 300px;
    box-shadow: 0px 2px 4px rgba(99, 91, 91, 0.29);
    transition: background-color 0.1s linear;
    overflow: hidden;
    text-overflow: ellipsis;

    &:hover {
      background-color: variables.$selected;
      transition: background-color 0.15s linear;
    }
  }

  &--selected {
    background-color: variables.$selected;
  }

  &--plus {
    margin: 10px;
    align-self: center;
    border: none;
    font-size: 20px;
    box-shadow: none;
    background-color: transparent;

    &:hover {
      box-shadow: none;
    }
  }

  &--create {
    display: inline-block;
    text-decoration: none;
    border: 1px solid variables.$primary-bright;
    color: variables.$primary-dark;
    background-color: variables.$primary-bright;
    @media only screen and (max-width: 500px) {
      padding: 7px 10px;
    }
  }
  &--supp {
    border: none;
    font-size: 13px;
    padding: 0;

    &:hover {
      box-shadow: none;
    }

    &-selected {
      border-radius: 0px;
      border-bottom: 2px solid variables.$secondary-bright;
    }
  }

  &--hidden {
    visibility: hidden;
  }
}

/*HEADINGS*/ ///////////////////////////////////////////////////////////////////////////////////////

.heading {
  font-family: variables.$font-heading;
  text-align: center;
  color: variables.$primary-dark;
  font-size: 40px;
  margin-bottom: 12px;
  padding: 10px;

  @media only screen and (max-width: 700px) {
    font-size: 30px;
  }
}

.subheading {
  font-family: variables.$font-heading;
  text-align: center;
  color: variables.$primary-dark;
  font-size: 25px;
  margin: 0;
  padding: 10px;

  @media only screen and (max-width: 700px) {
    font-size: 20px;
  }
}

.user-information__heading,
.user-polls__heading {
  margin-top: 40px;
  margin-bottom: 70px;
}

/*FORMS*/ //////////////////////////////////////////////////////////////////////////

.wrapper {
  position: relative;
}

.form {
  font-family: variables.$font-primary;
  background-color: variables.$tertiary-bright-2;
  // border: 3px double variables.$primary-dark;
  border-radius: 4px;
  padding: 30px 80px 90px;
  max-width: 300px;
  margin: 40px auto;
  margin-bottom: 120px;
  display: flex;
  flex-direction: column;

  &--profile {
    border: none;
    margin: 10px;
    display: flex;
    flex-direction: row;
  }

  &__label {
    padding: 0px 0px;
    font-size: 11px;
    color: variables.$primary-dark;
    margin-top: 20px;
    font-weight: 600;
    text-transform: uppercase;
  }

  &__input {
    font-size: 15px;
    margin: 8px 0px;
    border: none;
    border-bottom: 1.5px solid variables.$primary-dark;
    background-color: transparent;
    color: variables.$secondary-bright;
    padding: 10px 2px;

    &--poll-form {
      @extend .form__input;
      width: 100%;
    }

    &--danger {
      border-bottom: 2px solid variables.$primary-danger;
    }
  }

  &__input:invalid {
    box-shadow: none;
  }

  &__input:focus {
    border-bottom: 1.5px solid variables.$secondary-bright;
    outline: none;
  }
  &__input--danger:focus {
    border-bottom: 2px solid variables.$primary-danger;
  }
  &__notes {
    min-height: 17px;
    padding: 0px 0px;
    font-size: 13px;
    color: variables.$primary-danger;
    display: inline-block;

    &--additional {
      margin: 0 auto;
      color: variables.$primary-dark;
      font-size: 13px;
    }

    &--info {
      padding: 0px 70px;
      color: variables.$secondary-bright;
      font-size: 14px;
    }
  }

  &__link {
    color: variables.$secondary-bright;

    &:active,
    &:visited {
      color: variables.$secondary-bright;
    }
  }

  &__subheading {
    text-align: center;
  }

  &__wrapper {
    display: flex;
    justify-content: center;
    margin: 30px auto 10px;
  }

  &--user-information {
    padding: 30px 80px 40px;
  }

  &__minus {
    position: absolute;
    display: inline;
    background-color: transparent;
    border: none;
    top: 10%;
    right: -30px;
    &:hover {
      cursor: pointer;
    }
  }
}

.not-found {
  width: 100%;
  height: 100%;
  text-align: center;
  margin: 100px auto;
}

.create-poll-form {
  max-width: 500px;

  @media only screen and (max-width: 500px) {
    max-width: 240px;
  }
}

.eye-icon {
  padding: 0px 5px;
  font-size: 13px;
  float: right;
  &:hover {
    cursor: pointer;
  }
}

@media only screen and (max-width: 700px) {
  .form {
    padding: 60px;
    padding-bottom: 90px;
    max-width: 220px;
    &__label,
    &__notes {
      padding: 0px 0px;
    }
    &__notes--profile {
      padding: 0px 0px;
    }
    &__input {
      margin: 8px 0px;
    }
  }
}
