@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Bellota+Text&display=swap');
@import url('https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700&display=swap');

// colors
$primary-dark: #21262c;
$primary-light: white;
$primary-bright: #ff8f4d;
$primary-bright--transparent: #ff8e4d66;
$primary-danger: #f33;
$primary-neutral: #ddd;

$secondary-dark: black;
$secondary-light: #f5f5f2;
$secondary-bright: #ad6236;
$secondary-neutral: #333;
$disabled-btn-text: #6a6a6a;
$disabled-btn-bg: #333b44;

$tertiary-bright: #ad62361f;
$tertiary-bright-2: #dba25926;
$tertiary-bright-3: #d24b163d;

$selected: rgba(253, 231, 37, 0.4);

// fonts
$font-primary: 'Merriweather Sans', sans-serif;
$font-btn: 'Roboto Condensed', sans-serif;
$font-heading: 'Bellota Text', sans-serif;
