@use 'variables';

.delete-confirmation {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffffeb;
  z-index: 1;

  &__box {
    margin: 100px auto;
    max-width: 400px;
    background-color: variables.$tertiary-bright-3;
    padding: 20px 30px;
    border-radius: 4px;
    font-family: variables.$font-heading;
  }

  &__buttons {
    padding: 10px 2px 0px;
    display: flex;
    flex-direction: row-reverse;
  }
}
