@use 'variables';

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
  padding: 2px;

  &__heading {
    margin: 0;
    font-family: variables.$font-primary;
    font-size: 50px;
  }
  &__link {
    text-decoration: none;
    color: variables.$primary-bright;
    letter-spacing: -19px;
  }
}
